body {
    margin: 0;
}
.exemplo {
    width: 800px;
    margin: auto;
}
.exemplo1 {
    width: 100%;
    height: 100px;
    background: black;
    background: linear-gradient(-90deg,white, black);
}
.exemplo2 {
    width: 100%;
    height: 100px;
    background: yellow;
    background: linear-gradient(-90deg,white, yellow);
}
.exemplo3 {
    width: 100%;
    height: 100px;
    background: red;
    background: linear-gradient(-90deg,white, red);
}

/*
    background: -moz-linear-gradient(white, blue );
    background: -o-linear-gradient(white, blue );
    background: -webit-linear-gradient(white, blue);
*/
