.teste {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
}

@media only screen and (max-width: 600px){
    * {
        background-color: black;
    }
    .teste {
        background-color: #00ff00;
        width: 50px;
        height: 50px;
    }
}